* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contain {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70%;
}

.container img {
  width: 50vw;
  height: 50vh;
}

.card {
  text-align: center;
  display: block;
  margin: 20px;
  box-shadow: -1px 2px 17px white;
  transform: scale(0.85);
  border-radius: 5px;
}

.card:hover {
  box-shadow: -1px 2px 17px #1f9751;
  transform: scale(0.95);
  transition: 500ms;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  background-color: green;
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.slick-prev {
  left: 0;
  border-radius: 0 25px 25px 0;
}

.slick-next {
  right: 0;
  border-radius: 25px 0 0 25px;
}

.heading {
  text-align: center;
}

.heading h1 {
  font-weight: 900;
  font-size: 40px;
}

.heading p,
.card p {
  font-weight: 600;
  font-size: 15px;
}

.card p {
  margin: 5px;
}

.card h3 {
  margin-top: 5px;
  font-size: 20px;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.icons svg {
  font-size: 40px;
}

@media (max-width: 700px) {
  .heading {
    margin-top: 50px;
  }

  .container {
    width: 80%;
  }

  .container img {
    width: 100vw;
  }
}
