* {
  margin: 0;
  padding: 0;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.item img {
  height: 80vh;
}

.contain {
  display: grid;
  grid-template-columns: 75% 25%;
  padding: 15px;
}

.image {
  margin-right: 15px;
}

.info h2 {
  text-align: right;
  margin-bottom: 25px;
}

.info div {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.info div p {
  text-align: center;
}

.info div:nth-child(even) {
  background: #999999;
}

.btn p{
  text-decoration: none;
  background-color: #97bf0f;
  display: flex;
  color: white;
  padding: 10px;
  align-items: center;
  border-radius: 1em;
}

.btn p svg {
  margin-inline: 10px;
}

a.btn:hover {
  background-color: white;
}
